<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuwj.auth.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhuwj.auth.entity.SysRole">
    <result column="id" property="id" />
    <result column="uuid" property="uuid" />
    <result column="create_time" property="createTime" />
    <result column="create_id" property="createId" />
    <result column="update_time" property="updateTime" />
    <result column="update_id" property="updateId" />
    <result column="deleted" property="deleted" />
    <result column="version" property="version" />
        <result column="role_desc" property="roleDesc" />
        <result column="role_name" property="roleName" />
        <result column="role_code" property="roleCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        uuid,
        create_time,
        create_id,
        update_time,
        update_id,
        deleted,
        version,
        role_desc, role_name, role_code
    </sql>

</mapper>
