<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuwj.dict.mapper.DictDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhuwj.dict.entity.DictDetail">
        <id column="id" property="id" />
        <result column="deleted" property="deleted" />
        <result column="dict_id" property="dictId" />
        <result column="key" property="key" />
        <result column="value" property="value" />
        <result column="label" property="sort" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, deleted, dict_id, `key`, `value`,label, sort
    </sql>

</mapper>
